* {
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul li a:hover {
  color: green;
  background-color: lightgrey;
}

.main{
margin-left:150px; 
}
.title {
  text-align: center;
  padding:60px;
  font-size: 30px;
  color:#20B2AA;
  background-color: #4682B4;
}

.side-bar{
  height: 100%;
  width:150px;
  display: inline-block;
  position:fixed;
  padding:20px;
  top:0;
  left: 0;
  background-color: black;

}
