* {
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul li a:hover {
  color: green;
  background-color: lightgrey;
}

.title {
  text-align: center;
  padding:60px;
  font-size: 30px;
  color:#20B2AA;
  background-color: #4682B4;
}
